<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-3">
            <div class="panel rounded shadow">
                <div class="panel-body">
                    <div class="inner-all">
                        <ul class="list-unstyled">
                            <li class="text-center">
                                <%= image_tag "#{current_admin.image}", class: "img-circle img-responsive img-bordered-primary" %>
                            </li>
                            <li class="text-center">
                                <h4 class="text-capitalize"><%= current_admin.full_name %></h4>
                                <p class="text-muted text-capitalize">web designer</p>
                            </li>
                            <li><br></li>
                            <li>
                                <div class="btn-group-vertical btn-block">
                                    <%= link_to edit_admins_backoffice_profile_path(current_admin.id), class:"btn btn-default" do %>
                                        <i class="fa fa-cog pull-right">Editar conta</i>
                                    <% end %>
                                    <a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel cover rounded shadow no-overflow">
                <div class="panel-body">
                    <div class="inner-cover">
                        <img src="https://www.bootdey.com/image/600x150/FF69B4/000000" class="img-responsive full-width" alt="cover">
                    </div>
                </div>
            </div>
            <div class="panel cover rounded shadow no-overflow" style="height:200px;">
                <div class="panel-body">
                  <%= current_admin.description %>
                </div>
            </div>
        </div>
  </div>
</div>