<h1>Lista de publicações</h1>
<div class="row row-cols-1 row-cols-md-2">
    <% @publications.each do |publication| %>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><%= publication.title %></h2>
                    <p class="card-text"><%= raw publication.description.truncate(50) %></p>
                    <div>
                        <%= link_to admins_backoffice_publication_path(publication) do %>
                            <span>Acessar</span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>